/*fdfdffsefsefdsefsefs*/
body{

    background: linear-gradient(324deg, #141414 0%, rgb(65, 65, 65)100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    }
    
    #Header{
    
    position: fixed;
    margin-top: 0px;
    margin-left: 0px;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 70px;
    background-color: rgba(29, 29, 29, 0.685)
    
    }
    
    #JMIDEVHEADERLOGO{
    
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50px;
    top: 19px;
    /*border-radius: 15px;*/
    border-radius: 50%;
    transition: 0.3s;
    
    }
    
    #JMIDEVHEADERLOGO:hover{
    
    cursor: hand;
    
    }
    
    .HeaderLetras{
    
    position: absolute;
    top: 21px;
    margin: 0px;
    font-size: 25px;
    
    }
    
    #HeaderJMIletra{
    
    left: 100px;
    color: rgb(255, 255, 255);
    
    }
    
    #HeaderDEVletra{
    
    left: 144.5px;
    color: rgb(255, 255, 255);
    
    }
    
    #HeaderTitle{
    
    margin: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    
    }
    
    #HeaderMenu{
    
    position: absolute;
    right: 80px;
    top: 18px;
    
    }
    
    .HeaderButtons{
    
    width: 120px;
    height: 34px;
    background-color: rgb(255, 255, 255);
    border: 2px solid transparent;
    color: rgb(255, 255, 255);
    border-radius: 0px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.3s;
    font-size: 12px;
    opacity: 1;
    outline: none;
    font-family: 'Poppins', sans-serif;
    
    }
    
    .HeaderButtons:hover{
    
    font-size: 13px;
    cursor: hand;
    background-color: rgb(209, 209, 209);
    
    }
    
    
    
    ::-webkit-scrollbar{
    
    width: 11px;
    
    }
    
    ::-webkit-scrollbar-track{
    
    border: 2px transparent rgb(202, 202, 202);
    background-color: rgb(48, 48, 48);
    
    
    }
    
    ::-webkit-scrollbar-thumb{
    
    background-color: rgb(71, 71, 71);
    transition: 0.3s;
    
    }
    
    ::-webkit-scrollbar-thumb:hover{
    
    background-color: rgb(117, 117, 117);
    
    }
    
    a{
    
        color: rgb(255, 71, 71);
    
    }
    
    #footer{
    
    bottom: 0px;
    padding-top: 20px;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 60px;
    height: auto;
    margin-left: -6px;
    margin-right: -8px;
    margin-bottom: 0px;
    left: 0px;
    right: 0px;
    color: rgb(255, 255, 255);
    background-color: rgba(24, 24, 24, 0.548);
    justify-content: center;
    font-size: 13px;
    }
    
    .hamburguermenuresponsive{
        
        position: absolute;
        right: 50px;
        top: 14px;
        width: 48px;
        height: 48px;
        background: url("menu-white-18dp.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
        border: 3px solid white;
        border-radius: 15px;
        transition: 0.3s;
        outline: none;
    
    }
    
    .hamburguermenuresponsive:hover{
        cursor: hand;
        background-size: 100%;
    }
    
    .hamburguermenuresponsive:focus{
        cursor: hand;
        background-size: 60%;
    }
    
    .hamburguermenuresponsiveicon{
        width: 30px;
        height: 30px;
        padding: 0px;
    }
    
    .hambmenselector{
        position: absolute;
        right: 0px;
        top: 0px;
        bottom: 0px;
        width: 40%;
        background-color: rgb(51, 51, 51);
        box-shadow: 0 0 100px 0px rgba(0, 0, 0, 0.315);
    }
    
    #hambmencontainer{
        position: fixed;
        margin-top: 0px;
        margin-left: 0px;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        transition: 0.3s;
    }
    
    .hambmenselectormenu{
        position: absolute;
        left: 80px;
        font-size: 40px;
        color: rgb(255, 255, 255);
    
    }
    
    .hambmenselectorclose{
        position: absolute;
        width: 43px;
        height: 43px;
        top: 35px;
        left: 20px;
        background-color: rgba(0, 0, 0, 0.123);
        border: 2px solid transparent;
        border-radius: 22px;
        color: rgb(255, 255, 255);
        outline: none;
        transition: 0.3s;
    }
    
    .hambmenselectorclose:hover{
        cursor: hand;
        background-color: rgba(0, 0, 0, 0.253);
    }
    
    .hambmenselectorcloseicon{
        width: 25px;
        height: 25px;
    }
    
    .hambmenbutton{
        width: 90%;
        height: 50px;
        margin-left: 5%;
        background-color: rgb(80, 80, 80);
        border: 2px solid transparent;
        border-radius: 5px;
        margin-top: 5px;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        color: rgb(255, 255, 255);
        text-align: left;
        padding-left: 20px;
        outline: none;
        transition: 0.3s;
    }
    
    .hambmenbutton:hover{
        background-color: rgb(156, 156, 156);
        cursor: hand;
    }
    
    .hambmenoptions{
        margin-top: 110px;
    }
    
    .iniciobox{
        position: relative;
        width: 100%;
        height: 320px;
        display: table-cell;
        vertical-align: middle;
        padding: 20px;
        border: none;
        border-radius: 20px;
        color: rgb(255, 255, 255);
    }
    
    .iniciobox p{
        font-size: 25px;
    }

    .videosampl{

        outline: none;
        width: 100%;
        height: 38vw;
        box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.178);
        border: none;
        border-radius: 40px;
    
    }

    .homesocialicon img{

        width: 140px;
        height: 100px;
        margin-top: 50px;
        transition: 0.3s;

    }

    .homesocialicon img:hover{

        width: 210px;
        height: 150px;
        margin-top: 50px;

    }

    .decoracionimg{

        pointer-events: none;
        position: absolute;
        width: 100vmax;
        height: none;
        z-index: -78;
        transition: 0.3s;

    }

    #BIGTITLE{

        font-size: 10vmin;

    }

    .customalertboxcontainerfix{

        position: fixed;
        margin-top: 0px;
        margin-left: 0px;
        left: 0px;
        top: 0px;
        right: 0px;
        height: 100%;
        text-align: center;
        pointer-events: none;

    }

    .customalertboxcontainer{

        width: 50vmax;
        height: 230px;
        background: rgb(63, 63, 63);
        display: inline-block;
        margin-top: -600px;
        border: none;
        border-radius: 20px;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.082);
        transition: 1s;
        text-align: left;
        pointer-events: all;

    }

    .advicetypecontainer{

        display: table-cell;
        width: 50vmax;
        height: 40px;
        vertical-align: middle;
        padding-left: 10px;
        background: rgb(82, 151, 255);
        border-radius: 20px 20px 0px 0px;
        transition: 1s;
        color: white;

    }

    #problemicon{

        width: 30px;
        vertical-align: middle;

    }

    #problemtext{

        vertical-align: middle;
        margin-left: 10px;
        font-size: 19px;

    }

    #problemdesc{

        color: rgb(255, 255, 255);
        font-size: 22px;

    }

    .problemdescdiv{

        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 20px;
        height: 90px;

    }

    .advicelogocontainer{

        display: table-cell;
        width: 50vmax;
        height: 65px;
        vertical-align: middle;
        padding-left: 10px;
        border-radius: 0px 0px 20px 20px;
        transition: 1s;

    }

    #jmidevlogoincab{

        width: 40px;
        margin-left: 10px;
        border-radius: 20px;
        vertical-align: middle;

    }

    #jmidevtextincab{

        vertical-align: middle;
        margin-left: 10px;
        font-size: 19px;
        color: rgb(255, 255, 255);

    }

    #footersocialicon{

        width: 50px;
        margin-left: 2.5px;
        margin-right: 2.5px;
        transition: 0.3s;
        vertical-align: top;

    }

    #footersocialicon:hover{

        width: 60px;

    }

    #marginadoenmain{

        margin-left: 15vmax;
        margin-right: 15vmax;
            
    }

    .slidermainpage{

        background: rgba(59, 60, 66, 0);
        width: 100%;
        height: 500px;
        position: relative;

    }

    .sliderbtn{

        width: 50px;
        height: 50px;
        border: 0px solid transparent;
        background: url("sliderbutton.svg");
        background-position: center;
        background-size: cover;
        transition: 0.3s;

    }

    .sliderbtn:hover{

        opacity: 0.5;
        cursor: hand;

    }

    #leftsl{

        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%) scaleX(-1);

    }

    #rightsl{

        transform:scaleX(-1);
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);

    }

    .slidercontentinside{

        position: absolute;
        left: 90px;
        right: 90px;
        bottom: 0px;
        top: 0px;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 30px;
        padding-bottom: 30px;

    }

    .slidercontentinside h1{

        width: 50%;
        text-align: center;
        text-overflow: ellipsis;
        transition: 0.5s;

    }

    .slidercontentinside h2{

        width: 50%;
        text-align: center;
        bottom: 0px;
        text-overflow: ellipsis;
        transition: 0.5s;

    }

    .imgslider{

        position: absolute;
        right: 110px;
        left: 50%;
        transform: translateX(20px);
        top: 30px;
        bottom: 30px;
        background: url("sliderimgs/1/sliderimg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transition: 0.5s;

    }

    .puntitosdeprogresoslidercontainer{

        position: absolute;
        left: 50%;
        bottom: 5px;
        transform: translateX(-50%);

    }
    
    .puntosprogresoslider{

        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 0px;

    }

    .bgslider{

        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: -1;
        transition: 0.5s;

    }

    .projectsmainpage{

        width: inherit;
        height: 205px;
        background: rgb(32, 32, 32);
        border-radius: 20px;
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 35px;
        white-space: nowrap;

    }

    .projectsmainpagebtn{

        width: 180px;
        height: 180px;
        border-radius: 20px;
        overflow: hidden;
        background: black;
        position: relative;
        display:flex;
        margin-right: 20px;
        /*float: left;*/
        display: inline-block;

    }

    .projectsmainpagebtnbg{

        width: 100%;
        height: 100%;
        opacity: 1;
        transition: 0.3s;

    }

    .projectsmainpagebtntxt{

        position: absolute;
        text-align: center;
        width: 100%;
        top: 30%;
        opacity: 0;
        transition: 0.3s;
        color: white;

    }

    .projectsmainpagebtn:hover .projectsmainpagebtntxt{

        opacity: 1;

    }

    .projectsmainpagebtn:hover .projectsmainpagebtnbg{

        opacity: 0.2;

    }

    .projectsmainpagebtn:hover{

        cursor: hand;

    }

    #wldemopmp .projectsmainpagebtnbg{

        background: url("FotosDeProyectos/Aventura/worldlifedemo/COVER.png");
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        
    }

    #rtwpmp .projectsmainpagebtnbg{

        background: url("FotosDeProyectos/GAME JAMS/Retime the Wind/RTW.jpg");
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        
    }

    #bsktvpmp .projectsmainpagebtnbg{

        background: url("FotosDeProyectos/Casuales/BasketVa/COVER.jpg");
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        
    }

    #rdntbllpmp .projectsmainpagebtnbg{

        background: url("FotosDeProyectos/Casuales/Rodant Ball/COVER.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        
    }

    #vcthddgpmp .projectsmainpagebtnbg{

        background: url("FotosDeProyectos/Experimentos/VoiceTheDodge/SQUARE COVER.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        
    }

    #bnslrpmp .projectsmainpagebtnbg{

        background: url("FotosDeProyectos/GAME JAMS/Bunnys Lair/MIWEBcover.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        behavior: initial;
        
    }

    @keyframes hightlightthingycolors {
        0% {color: aqua; font-family: 'Poppins', sans-serif;}
        25% {color: rgb(255, 73, 246); font-family: 'Pattaya', sans-serif;}
        50% {color: rgb(73, 255, 112); font-family: 'Roboto', sans-serif;}
        75% {color: rgb(255, 213, 73); font-family: 'Fjalla One', sans-serif;}
    }

    @keyframes hightlightthingycolorsmobile {
        0% {color: aqua; /*font-family: 'Poppins', sans-serif;*/}
        25% {color: rgb(255, 73, 246); /*font-family: 'Pattaya', sans-serif;*/}
        50% {color: rgb(73, 255, 112); /*font-family: 'Roboto', sans-serif;*/}
        75% {color: rgb(255, 213, 73); /*font-family: 'Fjalla One', sans-serif;*/}
    }

    .highlightlightsswitch{

        animation-name: hightlightthingycolors;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;

    }

    .tagselector{

        text-align: left;
        position: relative;
        width: 13%;
        display: inline-block;
        margin-bottom: 30px;
        vertical-align: top;

    }

    /*.tagselector h2{

        font-size: 280%;

    }*/

    .tagbtnslect{

        width: 100%;
        height: 45px;
        background: rgb(27, 27, 27);
        border-radius: 10px;
        position: relative;
        margin-bottom: 5px;
        transition: 0.3s;
        overflow: hidden;

    }

    .tagbtnslect span{

        position: absolute;
        top: 50%;
        left: 50px;
        transform: translateY(-50%);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

    }

    .tagbtnslect img{

        position: absolute;
        top: 50%;
        left: 14px;
        transform: translateY(-50%);

    }

    .tagbtnslect:hover{

        /*opacity: 0.5;*/
        cursor: hand;

    }

    .newprojectselector{

        width: 70%;
        text-align: center;
        position: relative;
        display: inline-block;
        margin-bottom: 30px;
        vertical-align: top;
        padding: 25px;

    }

    .newprojectbtn{

        position: relative;
        width: 500px;
        height: 200px;
        display: inline-block;
        text-align: left;
        background: rgb(31, 31, 31);
        overflow: hidden;
        border-radius: 20px;
        margin-right: 13px;
        margin-bottom: 13px;
        color: white;
        
    }

    .newprojectbtn img{

        position: absolute;
        top: 0px;
        left: 0px;
        width: 200px;

    }

    .newprojectbtn h1{

        position: absolute;
        top: 40px;
        font-size: 30px;
        left: 220px;
        transition: 0.3s;

    }

    .newprojectbtn h2{

        position: absolute;
        top: 90px;
        font-size: 17px;
        left: 220px;
        transition: 0.3s;

    }

    .newprojectbtn h3{

        position: absolute;
        top: 70px;
        font-size: 12px;
        left: 222px;
        width: 250px;
        opacity: 0;
        transition: 0.3s;

    }

    .newprojectbtn:hover{

        cursor: hand;

    }

    .newprojectbtn:hover h1{

        top: 15px;

    }

    .newprojectbtn:hover h2{

        top: 110px;

    }
    
    .newprojectbtn:hover h3{

        opacity: 1;

    }

    .Contactobutton{

        width: 100px;
        height: 100px;
        border-radius: 50%;
        transition: 0.3s;
        display: inline-block;
        vertical-align:middle;

    }

    .Contactobutton:hover{

        opacity: 0.25;
        cursor: hand;
        width: 120px;
        height: 120px;

    }

    #mail{

        background: url(othericons/contacto/email_white_24dp.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }

    #discord{

        background: url(othericons/contacto/Discord-Logo-White.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }

    .cosahacercategory{

        width: 100%;
        height: 350px;
        position: relative;
        margin-top: 30px;

    }

    .imagencosahacer{

        position: absolute;
        border-radius: 30px 0px 0px 30px;
        width: 45vmax;
        height: 100%;
        right: 50%;
        top: 0px;

    }

    .contentcosahacer{

        position: absolute;
        border-radius: 0px 30px 30px 0px;
        background: rgb(27, 27, 27);
        width: 45vmax;
        height: 100%;
        left: 50%;
        top: 0px;

    }

    .contentcosahacer h2{

        position: relative;
        font-size: 40px;
        left: 30px;

    }

    .contentcosahacer h3{

        position: relative;
        font-size: 20px;
        left: 30px;

    }

    #img1c{

        background: url("https://lh3.googleusercontent.com/8iPC-bK6giiisZWHIC_xZw2kpUxET6d8pJrqRW02u7aNR815TWjsfq8y1aLCppDzbx4r0wdaja4yVde232VMy7nSZRbzR85El2groDxkF-JTuGV9s8TU3OutVx5S_iMNgg=w1280");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }

    #img2c{

        background: url("https://lh6.googleusercontent.com/UjnrYqUEzIhvFET2DnXJHMlhJy982HxtWDv7lfkG5viZJBO-H-1p4ofktOGyE7B05uHX-qEmHc3XA1NsSWanddt9_2avemU6D62sWB12TNvfYht30NMIuYyPpVA1cE7t0w=w1280");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }

    #img3c{

        background: url("https://lh6.googleusercontent.com/RDITZ-TvKFM4c6DwVeTLG2cgr2RetO6mFbDJhV8kxsky8dzTJdNliT1i1yGXoy-5PEoXZqrlw7Ck5IiBYgVMDkq8of81XyKcJEU27Yu1TKK1gBtboZgUwU0YQ33WbHzqMw=w1280");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }

    #img4c{

        background: url("https://lh5.googleusercontent.com/D7yjQc0T450SfuA0f3LcpkCrvSB6M2NXnjf-ta4emfdA3MfZr0aprkFhWrUDqOxE9wqWhGWtU4JConk1uRxodnpO4H8RN6m6wKuhFlyXYWbqbgyh8TL5vQ-ZP5m5dRn5OQ=w1280");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }

    .ymastext{

        text-align: center; font-size: 70px;

    }

    /*asasasasasasassasasas*/

    @media only screen and (max-width: 768px) {
    
        #JMIDEVHEADERLOGO{
    
            width: 50px;
            height: 50px;
            position: absolute;
            left: 19px;
            top: 11px;
            border-radius: 15px;
            transition: 0.3s;
    
        }

        .decoracionimg{

            pointer-events: none;
            position: absolute;
            width: 100vmin;
            height: none;
    
        }
    
        .HeaderLetras{
    
            display: none;
    
        }
    
        #HeaderMenu{
            display: none;
        }
    
        .main{
    
            margin-top: 110px;
            margin-bottom: 50px;
            margin-left: 20px;
            margin-right: 20px;
            color: rgb(255, 255, 255);
    
        }
    
        #Header{
            
            background-color: rgba(32, 32, 32, 0.815)
    
        }
    
        #footer{
            padding-left: 10%;
            padding-right: 10%;
            padding-bottom: 30px;
        }

        .customalertboxcontainer{

            width: 85vw;

        }

        .advicelogocontainer{

            width: 85vw;
    
        }

        .advicetypecontainer{

            width: 85vw;
    
        }

        .hambmenselector{
            width: 85%;
        }

        .hamburguermenuresponsive{
        
            right: 20px;
        
        }

        .videosampl{

            height: 50vw;
        
        }
        
        .slidermainpage{

            background: rgba(59, 60, 66, 0);
            width: 100%;
            height: 500px;
            position: relative;
    
        }
    
        .sliderbtn{
    
            width: 50px;
            height: 50px;
            border: 0px solid transparent;
            background: url("sliderbutton.svg");
            background-position: center;
            background-size: cover;
            transition: 0.3s;
    
        }
    
        .sliderbtn:hover{
    
            opacity: 0.5;
            cursor: hand;
    
        }
    
        #leftsl{
    
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%) scaleX(-1);
    
        }
    
        #rightsl{
    
            transform:scaleX(-1);
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
    
        }
    
        .slidercontentinside{
    
            position: absolute;
            left: 90px;
            right: 90px;
            bottom: 0px;
            top: 0px;
            padding-left: 0%;
            padding-right: 0%;
            padding-top: 30px;
            padding-bottom: 30px;
            text-align: center;
    
        }
    
        .slidercontentinside h1{
    
            width: 100%;
            text-align: center;
            text-overflow: ellipsis;
            transition: 0.5s;
            font-size: 30px;
            word-wrap: break-word;
    
        }
    
        .slidercontentinside h2{
    
            width: 100%;
            text-align: center;
            bottom: 0px;
            text-overflow: ellipsis;
            transition: 0.5s;
    
        }
    
        .imgslider{
    
            position: absolute;
            right: 110px;
            left: 50%;
            transform: translateX(20px);
            top: 30px;
            bottom: 30px;
            background: url("sliderimgs/1/sliderimg.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            transition: 0.5s;
            display: none;
    
        }
    
        .puntitosdeprogresoslidercontainer{
    
            position: absolute;
            left: 50%;
            bottom: 5px;
            transform: translateX(-50%);
    
        }
        
        .puntosprogresoslider{
    
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin: 0px;
    
        }
    
        .bgslider{
    
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            z-index: -1;
            transition: 0.5s;
    
        }

        #marginadoenmain{

            margin-left: 4vmax;
            margin-right: 4vmax;
                
        }

        .highlightlightsswitch{

            animation-name: hightlightthingycolorsmobile;
            animation-duration: 0.5s;
            animation-iteration-count: infinite;
    
        }

        .tagselector{

            text-align: center;
            position: relative;
            width: 100%;
            display: inline;
            margin-bottom: 60px;
            vertical-align: initial;
    
        }
    
        .tagselector h2{
    
            font-size: 50px;
    
        }
    
        .tagbtnslect{
    
            width: 90px;
            height: 90px;
            background: rgb(27, 27, 27);
            border-radius: 50%;
            position: relative;
            margin-bottom: 5px;
            transition: 0.3s;
            overflow: hidden;
            display: inline-block;
    
        }
    
        .tagbtnslect span{
    
            position: absolute;
            top: 50%;
            left: 50px;
            transform: translateY(-50%);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: none;
    
        }
    
        .tagbtnslect img{
    
            position: absolute;
            top: 50%;
            left: 50%;
            width: 33px;
            transform: translateY(-50%) translateX(-50%);
    
        }
    
        .tagbtnslect:hover{
    
            /*opacity: 0.5;*/
            cursor: hand;
    
        }
    
        .newprojectselector{
    
            width: 100%;
            text-align: center;
            position: relative;
            display: inline;
            margin-bottom: 30px;
            vertical-align: initial;
            padding: 25px;
    
        }
    
        .newprojectbtn{
    
            position: relative;
            width: 100%;
            height: auto;
            padding-bottom: 30px;
            display: block;
            text-align: center;
            background: rgb(31, 31, 31);
            overflow: hidden;
            border-radius: 40px;
            margin-right: 0px;
            margin-bottom: 23px;
            color: white;
            
        }
    
        .newprojectbtn img{
    
            position: relative;
            top: 0px;
            left: 0px;
            width: 100%;
    
        }
    
        .newprojectbtn h1{
    
            position: relative;
            top: 0px;
            font-size: 30px;
            left: 0px;
            transition: 0.3s;
    
        }
    
        .newprojectbtn h2{
    
            position: relative;
            top: -20px;
            font-size: 17px;
            left: 0px;
            transition: 0.3s;
    
        }
    
        .newprojectbtn h3{
    
            position: absolute;
            top: initial;
            bottom: 44px;
            font-size: 12px;
            left: 50%;
            transform: translateX(-50%);
            width: 250px;
            opacity: 0;
            transition: 0.3s;
    
        }
    
        .newprojectbtn:hover{
    
            cursor: hand;
    
        }
    
        .newprojectbtn:hover h1{
    
            top: 0px;
    
        }
    
        .newprojectbtn:hover h2{
    
            top: 20px;
    
        }
        
        .newprojectbtn:hover h3{
    
            opacity: 1;
    
        }

        .cosahacercategory{

            width: 100%;
            height: auto;
            position: relative;
            margin-top: 30px;
    
        }
    
        .imagencosahacer{
    
            position: relative;
            border-radius: 30px 30px 0px 0px;
            width: 80%;
            height: 300px;
            left: 10%;
            top: 0px;
    
        }
    
        .contentcosahacer{
    
            position: relative;
            border-radius: 0px 0px 30px 30px;
            background: rgb(27, 27, 27);
            width: 80%;
            height: auto;
            left: 10%;
            top: 0px;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 50px;
    
        }
    
        .contentcosahacer h2{
    
            position: relative;
            font-size: 40px;
            left: 0px;
    
        }
    
        .contentcosahacer h3{
    
            position: relative;
            font-size: 20px;
            left: 0px;
    
        }
    
        #img1c{
    
            background: url("https://lh3.googleusercontent.com/8iPC-bK6giiisZWHIC_xZw2kpUxET6d8pJrqRW02u7aNR815TWjsfq8y1aLCppDzbx4r0wdaja4yVde232VMy7nSZRbzR85El2groDxkF-JTuGV9s8TU3OutVx5S_iMNgg=w1280");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
    
        }
    
        #img2c{
    
            background: url("https://lh6.googleusercontent.com/UjnrYqUEzIhvFET2DnXJHMlhJy982HxtWDv7lfkG5viZJBO-H-1p4ofktOGyE7B05uHX-qEmHc3XA1NsSWanddt9_2avemU6D62sWB12TNvfYht30NMIuYyPpVA1cE7t0w=w1280");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
    
        }
    
        #img3c{
    
            background: url("https://lh6.googleusercontent.com/RDITZ-TvKFM4c6DwVeTLG2cgr2RetO6mFbDJhV8kxsky8dzTJdNliT1i1yGXoy-5PEoXZqrlw7Ck5IiBYgVMDkq8of81XyKcJEU27Yu1TKK1gBtboZgUwU0YQ33WbHzqMw=w1280");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
    
        }
    
        #img4c{
    
            background: url("https://lh5.googleusercontent.com/D7yjQc0T450SfuA0f3LcpkCrvSB6M2NXnjf-ta4emfdA3MfZr0aprkFhWrUDqOxE9wqWhGWtU4JConk1uRxodnpO4H8RN6m6wKuhFlyXYWbqbgyh8TL5vQ-ZP5m5dRn5OQ=w1280");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
    
        }
    
        .ymastext{
    
            text-align: center; font-size: 16vmin;
    
        }
    
    }

    